<!-- <section class="bg-gray-1"> -->
<section class="bg-white">
    <section class="bg-primary rounded-bl-[6rem] text-white">
        <div class="container flex flex-col lg:flex-row gap-5 items-center justify-center  min-h-[300px]">
            <div class="basis-[50%] text-center lg:text-start">
                <h2 class="text-4xl font-bold font-mono">Individual Learners Catalog</h2>
                <p class="text-lg"> Transform your career with Nanodegree programs starting at<br><b> $399/mo.</b></p>
            </div>
            <div class="flex justify-center items-cente basis-[50%]">
                    <div class="bg-white min-w-[300px] w-full relative p-3 flex items-center rounded-md overflow-hidden">
                        <input 
                        #searcInput
                        type="text"
                        name="search"
                        class="bg-transparent grow text-black text-lg outline-none"
                        (keyup)="searchCourses(searcInput.value)"
                            placeholder="Search" />
                        <mat-icon class="text-primary">search</mat-icon>
                    </div>
            </div>
        </div>
    </section>

    <section class="container my-14" 
    infinite-scroll
     (scrolled)="onScrollDown($event)" 
     >
     <!-- (infiniteScrollThrottle)="1000" -->

        <!-- <li *ngFor="let course of courses; index as i; trackBy: trackByFn">...</li> -->

        <!-- <ul class="flex gap-4 flex-wrap justify-center "> -->
        <ul class=" flex flex-col gap-10">

            <div *ngIf="courses.length == 0">loading</div>
            <!-- <li *ngFor="let course of courses; trackBy: trackByfn" class="self-stretch block max-w-[300px] flex-grow"> -->
            <li *ngFor="let course of courses; trackBy: trackByfn" class="block">
                <app-course-card class="h-full block" [courseData]="course"></app-course-card>
            </li>
        </ul>


    </section>


    <section>


    </section>
</section>