<div class="w-full h-full flex flex-col">
    <a routerLink="/courses/{{courseData.id}}" class="block rounded-tr-[5rem] overflow-hidden h-32">
        <img
         class="w-full h-full object-cover"
         alt="course cover">
         <!-- [src]="courseData.imageUrl"  -->
        </a>
    <div class="p-3 bg-white flex-grow flex flex-col justify-between">
        <div>
            <h3 class="text-2xl font-semibold">{{courseData.title}}</h3>
            <p class="py-3">{{courseData.summary}}</p>
        </div>
        <div class="flex flex-col gap-2">
            <app-rating *ngIf="courseData.rating" [ratingPercent]="courseData.rating"></app-rating>
            <a routerLink="/courses/{{courseData.id}}" class="block">
                <button class="bg-primary text-white  rounded-md p-3 w-full"
                [routerLink]="['/courses' , 'course.id']">Enorll Now</button>
            </a>

            <button class="border-2 border-primary text-primary  rounded-md p-3">Download Syllables</button>
        </div>
    </div>

</div>
