<div>
    <div
        class="rounded-tr-[5rem] overflow-hidden h-32 bg-cover bg-center bg-[url('https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/SzLy0ZloqObm1D7fuJEPf/bead7f6394816605e6e5f59acd47b4c1/catalog-card_2x__1_.jpg')]">
        <!-- <img class="w-full" src="" alt="course cover"> -->
    </div>
    <div class="p-3 bg-white">
        <h3 class="text-2xl font-semibold">Inroduction to Programming</h3>
        <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores atque obcaecati commodi
            exercitationem
            voluptatum? Cum repudiandae inventore repellendus quibusdam ex, eius officiis omnis sint, alias voluptate
            beatae facere suscipit.</p>
        <div class="flex gap-2">
            <button class="bg-primary text-white  rounded-md p-3 basis-[50%]"
                [routerLink]="['/courses' , 'course.id']">Enorll Now</button>

            <button class="border-2 border-primary text-primary  rounded-md p-3  basis-[50%]">Download
                Syllables</button>
        </div>
    </div>

</div>

<div>
    <div></div>
</div>