

<div class="py-5 px-4">
    <h3 class="text-center text-3xl font-semibold pt-5">Create your account.</h3>
    <p class="text-center pt-1">Build skills for today, tomorrow, and beyond. Education to future-proof your career.
    </p>
    <form (ngSubmit)="registerANewUser()" class="mt-5 sign-up-form">
            <input placeholder="First Name" type="text">
            <input placeholder="Last Name" type="text">
            <input placeholder="Email Address" type="email">
            <input placeholder="Password" type="password">
            <button type="submit" class="bg-primary text-white mx-auto block py-2 px-6 rounded-md mt-2">Sign up</button>
    </form>
</div>
