<p class="text-3xl">In Progress</p>
{{courseId}}
{{courseData | json}}
<!-- <button class="border-2  border-primary" (click)="goBack()">go back</button> -->
<div class="container">
    <h3>Learn with the best.</h3>
    <swiper-container 
     pagination="true" 
     class="h-[300px]">
     <swiper-slide class=""></swiper-slide>
     <swiper-slide>Slide 2</swiper-slide>
     <swiper-slide>Slide 3</swiper-slide>
    </swiper-container>
    <!-- navigation="true" -->

    <!-- scrollbar="true" -->
</div>